


<div class="d-flex justify-content-center">
    <div class="card text-white bg-dark mt-5" style="width: 25rem;" >
        <div class="card-body">
          <h1 class="text-center">Login</h1>
            <form action="/login" method="POST">
            <label for="">E-mail</label>

            <input type="email" name="email" placeholder="E-mail" class="form-control" required>

            <label for="nome">Senha</label>

            <input type="password" name="password" placeholder="" class="form-control" required>

            <button class="btn btn-light mt-3 " type="submit">Entrar</button>

            <a href="/cadastro"><input type="button" value="Criar conta" class="btn btn-light  mt-3 "></a>

            </form>
        </div>
    </div>
</div>


